  <div class="main container">
    <section class="form">
      <div class="row">
        <form class="four columns offset-by-four">
          <h4>Login</h4>
          <div class="row">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <a href="/admin" class="button button-primary">Login</a>
          </div>
        </form>
      </div>
    </section>
  </div>