<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Deal Tracker</title>
  <link rel="stylesheet" type="text/css" href="/styles/normalize.css">
  <link rel="stylesheet" type="text/css" href="/styles/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet"> -->
</head>
  <nav>
    <a class="nav-logo u-pull-left" href="/">Deal Tracker</a>
    <a class="admin-link u-pull-right" href="/admin/login">Admin</a>
  </nav>
<body>
  <%= yield %>
</body>
</html>

