<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Deal Tracker</title>
  <link rel="stylesheet" type="text/css" href="/styles/normalize.css">
  <link rel="stylesheet" type="text/css" href="/styles/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
</head>
  <nav>
    <a class="nav-logo u-pull-left" href="/">Deal Tracker</a>
    <form method="get" action="/filter" class="filter four columns u-pull-left">
      <select class="three columns" name="distance" id="distance">
        <option disabled selected>-- Distance --</option>
        <option value="all">All</option>
        <option value="5" <%= "selected" if @distance == "5" %> >5km</option>
        <option value="10" <%= "selected" if @distance == "10" %> >10km</option>
        <option value="15" <%= "selected" if @distance == "15" %> >15km</option>
      </select>
      <input class="button button-white three columns" type="submit" value="Filter">
    </form>
    <a class="admin-link u-pull-right" href="/admin">Admin</a>
    <form class="search u-pull-right" method="get" action="/results"><input type="text" name="search" placeholder="Search..."></form>
  </nav>
<body>
  <%= yield %>
</body>
</html>

