<aside class="side-nav">
  <ul>
    <li><a href="/admin">Overview</a></li>
    <li>Burgers
      <ul>
        <a href="/admin/burgers"><li>list all</li></a>
        <a href="/admin/burgers/new"><li>create new</li></a>
      </ul>
    </li>
    <li>Restaurants
      <ul>
        <a href="/admin/restaurants"><li>list all</li></a>
        <a href="/admin/restaurants/new"><li>create new</li></a>
      </ul>
    </li>
    <li>Discounts
      <ul>
        <a href="/admin/discounts"><li>list all</li></a>
        <a href="/admin/discounts/new"><li>create new</li></a>
      </ul>
    </li>
    <li>Deals
      <ul>
        <a href="/admin/deals"><li>list all</li></a>
        <a href="/admin/deals/new"><li>create new</li></a>
      </ul>
    </li>
  </ul>
</aside>

<main class="display">
  <div class="row">
    <div class="container-small">
      <div class="twelve columns">
        <h5>Discounts</h5>
        <table class="u-full-width">
          <tr>
            <th>Deal Name</th>
            <th>Type</th>
            <th>Amount</th>
            <th></th>
          </tr>
          <% @discounts.each do |discount| %>
          <tr>
            <td><%= discount.name %></td>
            <td><%= discount.type %></td>
            <td><%= discount.multiplier %></td>
            <td><a href="/admin/discounts/<%= discount.id %>/edit" class="button button-primary">Edit</a>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </main>
